body{
    background-color: #5465FF;

 
    
}
header{
    /* background-color: rgb(40, 235, 170); */
    text-align: center;
    border: #1e0638 3.5px solid;
    background: linear-gradient(to left ,  rgb(0, 238, 255) , rgb(0, 255, 98) , rgb(255, 255, 255) ,rgb(0, 255, 98), rgb(0, 238, 255));
    border-radius: 10px;
    color: #162660;

}

        .container{

            background-color:  #5465FF;
            display: grid;
            grid-template-areas: 
            "top top"
            "news news"
            "shortcut1 shortcut2"
            "help help"
            "article1 article2"
            "pics pics"
            "agree agree"
            "bottom bottom";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr 4fr 1fr 4fr 4fr 6fr 1fr ;
            
        }

        .container div{
            padding: 10px;
        }
        
        .container div.top{
            grid-area: top;
            display: grid;
            text-align: center;
            background-color: #d0e6fd;
            border-bottom-left-radius: 25px ;
            border-bottom-right-radius: 25px ;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;    
        }

        .top div.logo{
            text-align: center;
      
        }

        .logo img{
            width: 30rem;
            position: absolute;
            top: -15vw; 
            right: -3vw;           
        }


        .top div.ali{
            text-align: center;
        }

        .ali img{
            width: 11rem;
            position: absolute;
            top: 1%; 
            right: -4%;           
        }






        .container div.news{
            grid-area: news;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;
             color: #49e8fd;
        
        }

        .news img{
            /* position: absolute; */
            width: 85vw;
            height: 15vh;
            right: 10rem;
            border-radius: 50px;
        }

        

        .container div.shortcut1{
            grid-area: shortcut1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.shortcut2{
            grid-area: shortcut2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.help{
            grid-area: help;
            text-align: center;
            background-color: #380371;
            color: aliceblue;
            border-radius: 10px;
            margin: 8px;
        }

        .container div.article1{
            grid-area: article1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.article2{
            grid-area: article2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.pics{
            grid-area: pics;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.agree{
            grid-area: agree;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.bottom{
            grid-area: bottom;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.bottom{
            grid-area: bottom;
            display: grid;
            text-align: center;
            background-color: #d0e6fd;
            /* background-color: #1e0638; */
            border-top-left-radius: 25px ;
            border-top-right-radius: 25px ;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;   
            position: fixed ;
            
            justify-self: center;
            width: 90vw;
            height: 5vh;
            bottom: 3vh;
        }


footer{
    background-color: rgb(1, 6, 6);
    text-align: center;
    color: antiquewhite;
}
