body{
    background-color: #5465FF;

 
    
}
header{
    /* background-color: rgb(40, 235, 170); */
    text-align: center;
    border: #1e0638 3.5px solid;
    background: linear-gradient(to left ,  red , yellow , rgb(37, 255, 37) ,yellow, red);
    border-radius: 10px;

}

        .container{

            background-color:  #5465FF;
            display: grid;
            grid-template-areas: 
            "top top"
            "news news"
            "shortcut1 shortcut2"
            "help help"
            "article1 article2"
            "pics pics"
            "agree agree"
            "bottom bottom";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr 4fr 1fr 4fr 4fr 6fr 2fr ;
            
        }

        .container div{
            padding: 10px;
        }
        
        .container div.top{
            grid-area: top;
            display: grid;
            grid-template-areas: 
            "logo name name ali"
            "home-page gallery-page aboutUs-page contactUs-page"
            ;
            text-align: center;
            background-color: #d0e6fd;
            border-bottom-left-radius: 25px ;
            border-bottom-right-radius: 25px ;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;    
        }

        .top div.logo{
             grid-area: logo;
            text-align: center;
            /* background-color: #fe462e; */
            border-radius: 10px;
             margin: 8px;           
        }

        .logo img{
            width: 11rem;
            position: absolute;
            top: 2%; 
            left: -4%;           
        }

        .top div.name{
             grid-area: name;
            text-align: center;
            /* background-color: hsl(163, 85%, 15%); */
            border-radius: 10px;
             margin: 8px;        
             color: #001429;
              font-size:2.3rem;
              position: absolute;
              top: 1.5%;
              right:25%;
              
              
        }

        .top div.ali{
             grid-area: ali;
            text-align: center;
            /* background-color: hsl(163, 85%, 15%); */
            border-radius: 10px;
             margin: 8px;        
             color: #d0e6fd; 
        }

        .ali img{
            width: 11rem;
            position: absolute;
            top: 2%; 
            right: -6%;           
        }


        .top div.home-page{
             grid-area: home-page;
            text-align: center;
            background-color: #162660;
            border-style: inset;
            border-radius: 10px;
             margin:10px;
            color: #d0e6fd; 
           
        }
        .home-page:hover{
           border-bottom-color: #5465FF;
           border-left-color: #49e8fd;
            border-right-color: #5465FF;
            border-top-color: #49e8fd;
            color: #49e8fd; 
        }
        #home-link{
           color: #d0e6fd;
        }
        #home-link:hover{
           color: #076ad5;
        }


        .top div.gallery-page{
             grid-area: gallery-page;
            text-align: center;
            background-color: #162660;
            border-radius: 10px;
             margin: 10px;        
             color: #d0e6fd; 
             border-style: inset;
        }
        .gallery-page:hover{
           border-bottom-color: #5465FF;
           border-left-color: #49e8fd;
            border-right-color: #5465FF;
            border-top-color: #49e8fd; 
        }

        .top div.aboutUs-page{
             grid-area: aboutUs-page;
            text-align: center;
            background-color: #162660;
            border-radius: 10px;
             margin: 10px;        
             color: #d0e6fd; 
             border-style: inset;
        }
        .aboutUs-page:hover{
           border-bottom-color: #5465FF;
           border-left-color: #49e8fd;
            border-right-color: #5465FF;
            border-top-color: #49e8fd; 
        }

        .top div.contactUs-page{
             grid-area: contactUs-page;
            text-align: center;
            background-color: #162660;
            border-radius: 10px;
             margin: 10px;        
             color: #d0e6fd; 
             border-style: inset;
        }
        .contactUs-page:hover{
           border-bottom-color: #5465FF;
           border-left-color: #49e8fd;
            border-right-color: #5465FF;
            border-top-color: #49e8fd; 
        }




        .container div.news{
            grid-area: news;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;
        
        }

        

        .container div.shortcut1{
            grid-area: shortcut1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.shortcut2{
            grid-area: shortcut2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.help{
            grid-area: help;
            text-align: center;
            background-color: #380371;
            color: aliceblue;
            border-radius: 10px;
            margin: 8px;
        }

        .container div.article1{
            grid-area: article1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.article2{
            grid-area: article2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.pics{
            grid-area: pics;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.agree{
            grid-area: agree;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.bottom{
            grid-area: bottom;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }





footer{
    background-color: rgb(1, 6, 6);
    text-align: center;
    color: antiquewhite;
}
