body{
    background-color: rgb(8, 83, 163);

 
    
}
header{
    /* background-color: rgb(40, 235, 170); */
    text-align: center;
    border: #1e0638 3.5px solid;
    background: linear-gradient(to left ,  red , yellow , rgb(37, 255, 37) ,yellow, red);
    border-radius: 10px;

}

        .container{

            background-color: rgb(8, 83, 163);
            display: grid;
            grid-template-areas: 
            "top top"
            "news news"
            "shortcut1 shortcut2"
            "help help"
            "article1 article2"
            "pics pics"
            "agree agree"
            "bottom bottom";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr 4fr 1fr 4fr 4fr 6fr 2fr ;
            
        }

        .container div{
            padding: 10px;
        }
        
        .container div.top{
            grid-area: top;
            text-align: center;
            background-color: #d0e6fd;
            border-bottom-left-radius: 25px ;
            border-bottom-right-radius: 25px ;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
           
            
        }

        .container div.news{
            grid-area: news;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;
        
        }

        .container div.shortcut1{
            grid-area: shortcut1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.shortcut2{
            grid-area: shortcut2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.help{
            grid-area: help;
            text-align: center;
            background-color: #380371;
            color: aliceblue;
            border-radius: 10px;
            margin: 8px;
        }

        .container div.article1{
            grid-area: article1;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.article2{
            grid-area: article2;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }


        .container div.pics{
            grid-area: pics;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.agree{
            grid-area: agree;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }

        .container div.bottom{
            grid-area: bottom;
            text-align: center;
            background-color: #fe462e;
            border-radius: 10px;
             margin: 8px;  
        }





footer{
    background-color: rgb(1, 6, 6);
    text-align: center;
    color: antiquewhite;
}
